<header class="site-header">
    <div class="wrapper">
        <div class="site-header--content">
            <h1 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h1>
            <nav class="site-nav">
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/tools' | relative_url }}">Tools</a>
                <a href="{{ '/about' | relative_url }}">About</a>
                <a href="https://patrickhurley.co.uk">Portfolio</a>
            </nav>
        </div>
    </div>
    {%- include subheader.html -%}
</header>