---
---
$color-accent: #b214ab;

.wrapper {
    max-width: -webkit-calc(940px - (30px * 2));
    max-width: calc(940px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hide-mobile {
    display: none;
  }
}

.col-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: space-between;
}

.main-content {
  flex: 1;
  overflow: hidden;
  min-width: 0;
}

.sidebar {
  width: 250px;
}

.sidebar .featured ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar .featured li {
  margin-bottom: 8px;
}

.main-content h2 {
  margin-bottom: 10px;
}

.main-content h3 {
  margin-bottom: 0;
}

.main-content p a:hover,
.sidebar a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .col-container {
    flex-direction: column;
  }
  .main-content, .sidebar {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

/* Header */
.site-header {
    border-top: none;
}
.site-header--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
.site-title {
    font-size: 26px;
    line-height: 26px;
}
.site-title a {
    font-weight: 500;
    letter-spacing: 1.5px;
    @media screen and (max-width: 800px) {
        font-size: 20px;
    }
}
.site-nav {
    display: flex;
    position: relative;
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
    line-height: initial;
    gap: 10px;
}
.site-nav a, .site-nav a:visited {
    background: $color-accent;  
    color: #ffffff;
    padding: 3px 10px;  
    border-radius: 3px;
}

/* Sub-header */
.sub-header {
    padding-top: 5px;
    padding-bottom:5px;
    background: #000000;
    input {
        background: white;
        padding: 5px;
        border: none;
        width: 180px;
        &:focus {
            outline: 3px solid $color-accent;
            border-radius: 0;
        }
    }
    button {
        background: white;
        color: black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
}

img {
    border: 1px solid #000;
    width: 600px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .sub-header {
        padding-top: 10px;
        padding-bottom: 15px;
        .col-container {
        gap: 10px;
        }
    }
}
.top-tags {
    display: flex;
    gap: 10px;
    p {
        margin-bottom: 0;
    }
}
.top-tags, .top-tags a, .top-tags a:visited {
    color: white;
}

.top-tags ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
}

/* Typography */
h2 {
    font-size: 20px;
    font-weight: 600;
    color: $color-accent;
}
a, a:visited {
    color: #000000;
    font-weight: 600;
}

.post-tags a, .post-tags a:visited {
    background: $color-accent;
    color: white !important;
    padding: 2px 6px;
    border-radius: 3px;
    text-decoration: none !important;
    margin-right: 5px;
    &:hover {
        text-decoration: underline !important;
    }
}

.post-meta 
{
    color: black;
    margin-top: -10px;
    p {
        margin-bottom: 0;
    }
}

/* Home Page */
.home-date {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.home-post {
    padding-top: 20px;
    padding-bottom: 10px;;
    &--title {
        display: block;
        text-decoration: underline;
        margin-bottom: 15px;
        font-size: 20px;
    }
    &--content {
        font-weight: 200;
        a {
            color: #b214ab;
            text-decoration: underline;
        }
        h3 {
            margin-bottom: 5px;
            margin-top: 20px;
            font-weight: 600;
        }
    }
    &--excerpt {
        a {
            font-weight: 300;
            color: $color-accent;
        }
    }
    &--time {
        margin-right: 2px;
    }
    &--meta {
        margin-top: 10px;
    }
   
}

/* Post Page */
.post {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: 20px;
        font-weight: 600;
    }
    &-content {margin-top: 20px;}
}

/* Content */
.content p, .content li {
    line-height: 28px;
    font-weight: 200;
}
.content a {
    color: $color-accent;
    text-decoration: underline;
}