---
layout: default
---

<div class="home">

    <div class="col-container">

        <!-- Main content column -->
        <div class="main-content">
            <h2>{{ page.list_title }}</h2>

            {% assign last_date = "" %}
            {% assign featured_posts = site.posts | where:"display","featured" %}

            {% for post in site.posts %}
            {% assign post_date = post.date | date: "%d %B %Y" %}
            {% assign post_time = post.date | date: "%H:%M%P" %}

            {% if post_date != last_date %}
            {% unless forloop.first %}
            {% endunless %}
            {% assign last_date = post_date %}
            {% endif %}

            <article class="home-post">
                <a class="home-post--title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                <div class="home-post--content">
                    {% if post.content contains '<!--end-preview-->' %}
                    <div class="home-post--excerpt">
                        {{ post.excerpt }}
                        <a class="home-post--more" href="{{ post.url | relative_url }}">[...read more]</a>
                    </div>
                    {% else %}
                    {{ post.content }}
                    {% endif %}
                </div>

                <div class="home-post--meta">
                    <span class="home-post--time">{{ post_time }} /</span>
                    {% if post.tags %}
                    <span class="home-post--tags post-tags">
                        {% for tag in post.tags %}
                        <a href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a>{% unless forloop.last
                        %}, {%
                        endunless %}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </article>

            <hr style="border: 0; border-top: 1px solid #ccc; margin: 1em 0;">
            {% endfor %}
        </div>

        <!-- Include the sidebar component -->
        {% include sidebar.html %}
    </div><!--/col-container-->
</div><!--/home-->